<div class="row">
  <div class="span6">
    <ul id="pages" class="thumbnails">
      <li class="span2" ng-repeat="page in pages | filter:search">
        <a href="{{page.url}}" onclick="return false;" ng-click="setPage(page)">
          <div class="thumbnail">
            <h4>{{page.name}}</h4>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="span5 offset1">
    <h4>Links</h4>

    <ul id="links" class="nav nav-list" ng-controller="LinksCtrl">
      <li ng-repeat="link in links | filter:search">
        <div class="pull-right">
          <span ng-show="link.url.accept">
            <a href="{{link.url.accept}}" target="_blank">
              <i class="icon icon-ok"></i> accept
            </a>
            &nbsp;
          </span>
          <span ng-show="link.url.production">
            <a href="{{link.url.production}}" target="_blank" title="Production">
              <i class="icon icon-globe"></i> production
            </a>
          </span>
        </div>
        <a href="{{link.url.local}}" target="_blank">
          {{link.name}}
        </a>
      </li>
    </ul>
  </div>
</div>